<div class="container margin-top-container">
  <%= link_to edit_user_registration_path do %><!--  #this is the user_edit_path!!!!! -->
  <i class="fas fa-user-edit edit-profile"></i>
  <% end %>
  <!-- <p><%#= link_to('Logout', destroy_user_session_path, method: :delete) %></p> -->
  <%= link_to destroy_user_session_path, method: :delete do %>
  <i class="fas fa-sign-out-alt sign-out"></i>
  <% end %>

  <div class="container">
    <%= cl_image_tag(current_user.photo, crop: :thumb, gravity: :face, class:"avatar") %>
    <h3 class="margin-top-name"><%= current_user.name.capitalize %></h3>
    <p class="margin-top-name"><%= current_user.age %> y/o</p>
  </div>


  <div class="container interests-icon-list">
    <p id="interests-current-user" class="profile-headers">Description</p>
    <p id="left-align-desc" class="margin-top-name"><%= current_user.description %></p>
  </div>
  <div class="interests-icon-list">
    <p id="interests-current-user" class="profile-headers">Interests</p>
    <div class="icon-list">
      <% if current_user.beach %>
      <i class="fas fa-umbrella-beach"></i>
      <% else %>
      <i class="fas fa-mountain"></i>
      <% end %>

      <% if current_user.summer %>
      <i class="fas fa-sun"></i>
      <% else %>
      <i class="far fa-snowflake"></i>
      <% end %>

      <% if current_user.book %>
      <i class="fas fa-book"></i>
      <% else %>
      <i class="fas fa-tv"></i>
      <% end %>

      <% if current_user.vegetable %>
      <i class="fas fa-leaf"></i>
      <% else %>
      <i class="fas fa-drumstick-bite"></i>
      <% end %>

      <% if current_user.bicycle %>
      <i class="fas fa-bicycle"></i>
      <% else %>
      <i class="fas fa-fighter-jet"></i>
      <% end %>

      <% if current_user.pirate %>
      <i class="fas fa-skull-crossbones"></i>
      <% else %>
      <i class="fas fa-user-ninja"></i>
      <% end %>
    </div>
  </div>
  <div id="photo-gallery-margin" class="container photos-margin">
    <p class="profile-headers">Photos</p>
    <div class="row">
      <% current_user.photos.each do |user_photo|%>
      <div class="col-4 col-sm-3 col-md-3">
        <div class="photo-placeholder">
          <%= cl_image_tag(user_photo.photo, crop: :thumb, gravity: :face, class:"photo-placeholder") %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>








